	<div class="asideBar">
		<div class="UserMsg">
		</div>
		<div class="lists">
			<ul class="warp_func">
				<li><a href="/home">首页</a></li>
				<li><a href="#">开户</a></li>
				<li><a href="#">存钱</a></li>
			</ul>
		</div>
	</div>