<!DOCTYPE html>
<html>
<head>
	<title></title>
	<link rel="stylesheet" type="text/css" href="../public/css/asidebar.css">
	<link rel="stylesheet" type="text/css" href="/public/css/home.css">
</head>
<body>

	<%- include homePublic/asidebar.ejs%>

</body>
</html>