<!DOCTYPE html>
<html>
<head>
	<title></title>
	<link rel="stylesheet" type="text/css" href="/public/css/open.css">
</head>
<body>

	<div class="warp">
		<%- include homePublic/asidebar.ejs%>

		<div class="main">
			<div class="pageName">
				<h1>开户</h1>
			</div>
			<form>
				<div class="bankName">
					<p><label>银行</label><span id="bankName">ICBC</span></p>
				</div>
				<div class="userName">
					<p><label>姓名</label><input type="text" name="name" id="userName"></p>
				</div>
				<div class="cardPwd">
					<p><label>银行卡密码</label><input type="password" name="password" id="cardPwd"></p>
				</div>
				<div class="moneyRange">
					<p><label>银行卡额度</label><select id="rangeSelect"><option>1000</option><option>2000</option><option>3000</option><option>5000</option><option>10000</option></select></p>
				</div>
				<div class="openBtn">
					<button type="submit" class="openSubmit" id="openBtn">提交</button>
				</div>
			</form>
			<div class="error"></div>
			
		</div>



	</div>
	<script type="text/javascript" src="../public/js/jquery.js"></script>
	<script type="text/javascript" src="../public/js/openMethod.js"></script>

</body>
</html>