<!DOCTYPE html>
<html>
<head>
	<title></title>
	<link rel="stylesheet" type="text/css" href="../public/css/welcome.css">
</head>
<body>
	<div class="loginwrap">
		<div class="signImgHeader"></div>
		<div class="signContent">
			<form>
				<div class="signNameWrap">
					<p><label>用户名</label><input type="text" name="userName" placeholder="请输入用户名"></p>
				</div>
				<div class="signPwdWrap">
					<p><label>密码</label><input type="password" name="uesrPwd" placeholder="请输入密码"></p>
				</div>
				<div class="signSubmitWrap">
					<button type="submit" class="signSubmitBtn">注册</button>
				</div>
			</form>
		</div>
	</div>
</body>
</html>