*{
	margin: 0;
	padding: 0;
}
.asideBar{
	width: 200px;
	height: 100%;
	background-color: #B0F26D;
	position: fixed;
	padding: 40px;
}
.UserMsg{
	height: 100px;
}
ul{
	list-style-type: none;
}
.warp_func li{
	height: 30px;
	line-height: 20px;
	padding: 5px 0px;
	text-align: center;
}
.warp_func a{
	text-decoration: none;
	color: #fff;
}