*{
	margin: 0;
	padding: 0;
}
.asideBar{
	width: 240px;
	height: 100%;
	background-color: #47a3da;
	position: fixed;
}
.UserMsg{
	height: 100px;
}
ul{
	list-style-type: none;
}
.warp_func a{
	display: block;
	height: 50px;
	line-height: 50px;
	text-align: center;
    border-bottom: 1px solid #258ecd;
}
.warp_func a:hover{
	background-color: #258ecd;
}
.warp_func a{
	text-decoration: none;
	color: #fff;
}
.main{
	position: absolute;
	left: 280px;
	margin-left: 100px;
	padding-top: 100px;
}
.pageName{
	margin: 0 0 50px 0;
}
.main form p{
	margin-bottom: 15px;
}
form p label{
	text-align: right;
	width: 90px;
	height: 30px;
	display: inline-block;
	margin-right: 15px;
}
.openSubmit{
	margin-left: 105px;
	width: 100px;
	height: 30px;
	color: #fff;
    border-radius: 5px;
    border: 0px;
    cursor: pointer;
}