*{
	margin: 0;
	padding: 0;
}
.main{
	position: absolute;
	left: 280px;
	margin-left: 100px;
	padding-top: 100px;
}
.pageName{
	margin: 0 0 50px 0;
}
.main form p{
	margin-bottom: 15px;
}
form p label{
	text-align: right;
	width: 90px;
	height: 30px;
	display: inline-block;
	margin-right: 15px;
}
.openSubmit{
	margin-left: 105px;
	width: 100px;
	height: 30px;
	color: #fff;
    border-radius: 5px;
    border: 0px;
    cursor: pointer;
}